{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/auto.css' %}">

{% block title %} Sign Up Page {% endblock %}

{% block body %}

    <br>
    <div class="container">
        <div class="book">
            <img src="{% static 'img/icons8-тестовый-аккаунт-30 1.png' %}" alt="">
        </div>
        <form action="/user_login/" method="post"> {% csrf_token %}
            <img src="{% static 'img/icons8-shopping-cart-32 1.png' %}" alt="">

            <input type="text" id="user_username" name="user_username">
            <input type="password" id="user_password" name="user_password">
            <button class="login" type="submit">Login</button>
        </form>
    </div>

    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="/signup/" style="color:white" class="btn">Sign up</a>
            </div>
        </div>
    </div>


{% endblock %}